@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <font color="#00FA9A"><h1 class="display-1">Tech PCD</h1></font>
</div>

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #363636;
        }
    </style>
</head>
<body>
    <font color="#363636"><p> \n </p></font>
    <font color="#363636"><p> \n </p></font>
    <font color="#363636"><p> \n </p></font>
    <font color="#363636"><p> \n </p></font>
    <font color="#363636"><p> \n </p></font>
</body>
</html>

<div class="text-sm-center">
    <font color="#FFFAFA"><h6 class="disabled">Criado por Natália Bruno Rabelo</h6></font>
</div>

<div class="text-sm-center">
    <font color="#FFFAFA"><h6 class="disabled">Relate problemas - nataliabruno@id.uff.br</h6></font>
</div>
