@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style4.css">
    <style>
        body {
            background-color: #3DC9BD;
        }
    </style>
    <div class="text-center">
        <font face="Trebuchet MS" color="#FFFAFA"><h1 class="display-1">Tech PCD</h1></font>
    </div>
</head>
<body>
    <table align="center">
        <tr>
            <td>Arquivologia</td>
            <td>Atividade-meio</td>
            <td>Atividade-fim</td>
            <td>Identificação arquivística</td>
            <td>Atividade</td>
            <td>Tipo documental</td>
        </tr>
        <tr>
            <td colspan="2">Ordem original</td>
            <td>Diplomática</td>
            <td>Subfunção</td>
            <td>Tipologia documental</td>
            <td>Gênese documental</td>
        </tr>
        <tr>
            <td colspan="4">Proveniência</td>
            <td rowspan="3">Vínculo arquivístico</td>
            <td>Ordenação</td>
        </tr>
        <tr>
            <td rowspan="2">Arquivos</td>
            <td>Respeito aos fundos</td>
            <td>Organicidade</td>
            <td>Classificação funcional</td>
            <td>Documento de arquivo</td>
        </tr>
        <tr>
            <td>Arranjo</td>
            <td>Função</td>
            <td>classificação arquivística</td>
            <td>Série</td>
        </tr>
    </table>
    <style>
        table {
            border-spacing: 0.5rem;
        }

        td {
            padding: 0.5rem;
            text-align: center;
            height: 90px;
        }

            td:nth-child(1) {
                background: hsl(150, 50%, 50%);
            }

            td:nth-child(2) {
                background: hsl(160, 60%, 50%);
            }

            td:nth-child(3) {
                background: hsl(170, 70%, 50%);
            }

            td:nth-child(4) {
                background: hsl(180, 80%, 50%);
            }

            td:nth-child(5) {
                background: hsl(190, 90%, 50%);
            }

            td:nth-child(6) {
                background: hsl(200, 99%, 50%);
            }
    </style>
    <div class="text-sm-center">
        <font color="#00221F"> <h6 class="disabled"> Pulada de linha </h6> </font>
    </div>
    <div class="text-sm-center">
        <font color="#FFFAFA"> <h6 class="disabled"> By Natália Bruno Rabelo</h6> </font>
    </div>

    <div class="text-sm-center">
        <font color="#FFFAFA"> <h6 class="disabled"> Relate problemas</h6> </font>
        <a href="mailto:nataliabruno@id.uff.br"> <img src="https://img.shields.io/badge/-Gmail-%23333?style=for-the-badge&logo=gmail&logoColor=white" target="_blank"> </a>
        <a href="https://www.linkedin.com/in/nat%C3%A1lia-bruno-rabelo-63ba68158/" target="_blank"> <img src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white" target="_blank"> </a>
        <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K2448461E1&tokenCaptchar=03AGdBq27_PsvDwvTC3QmP-Z7tslO6UC8A0SQiT6mSxDz_8Um6gz2-unk2Hj-Lzf2Ol0_ItTcW0vRBks21FW51b81ze_ZvnHPh6vRV-kWZYsdkp-gKoC3J0QWXENHmYa5ipBGx_XKdTzFF-rPju3Nv3syuigAbNuz5sLmBhA5jC8hCV_63gJa7gYKZRjoJdFjLFHU-8ndv3fZYITeVvEDOYiR_6hV-9XBOehoUzavthkt8FVHdzA58LrAS9hqAKl-ECOSOMaoTzZobUtPPi201d2HgxL0NGopt6VopWaBVWVhL08nXSt7ZLT6RwmqRHXhV1DbJ87tweq5I75mq7g1BnkRWmSVzU_GOii7aMrwygZFD2rdpRKU8BBag7d-5QNSxO8NBERXn1Qg4Mzc3hk1_WZGP8tuqHzoCvfpMaMjt828fxs9_XRLzTk3KZ6UON_OVm5f8ie9cHLQk4wPe7IJRtxrmA0jytyWSbQ" target="_blank"> <img src="https://journal.nuped.com.br/index.php/livreacesso/libraryFiles/downloadPublic/88" target="_blank" height="30" width="40"> </a>
    </div>
    <style>
        body {
            background-color: #00221F;
        }
    </style>
</body>
</html>


