@model IEnumerable<Cadastro.Domain.Entities.Report>

<form method="post" asp-controller="Products" asp-action="SaveReport">
    <div class="form-control">
        @foreach (var report in Model)
        {
            <p>@report.Name</p>
            @foreach (var product in report.Produtos)
            {
                <p>@(product.Name),</p>
            }
        }
        <label>Nome do relatório:</label>
        <input name="name" />
        <button class="btn" type="submit">Salvar relatório</button>
    </div>
</form>