
@{
    ViewData["Title"] = "Plano de classificação";
}

<font face = "Trebuchet MS" color="#FFFAFA"><h1>Plano de classificação</h1></font>

<p>
    <a style="color: #008AAF;" asp-action="Create">Nova classe</a>
</p>

<style type="text/css">
    table {
        background-color: #FFFAFA;
        color: #FFFAFA;
    }
</style>
<form method="post" asp-controller="Products" asp-action="Export">
    <input type="submit" value="Export" style="background-color: #008AAF; border-color: #008AAF;"/>
</form>



@await Html.PartialAsync("_ProductsPartial")
<form method="post" asp-controller="Products" asp-action="SaveReport">
    <div class="new-report-container">
        @Html.ValidationSummary()
        <font color="#FFFAFA"><label>Título do plano:</label></font>
        <input required name="name" />
        <button class="btn" type="submit" style="background-color: #008AAF">Salvar plano</button>
    </div>
</form>


<p>
    <a class="btn btn-primary" style="background-color: #008AAF; border-color: #FFFAFA" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample ">
        &#128469;
    </a>
    <button class="btn btn-primary collapse show" style="background-color: #008AAF; border-color: #FFFAFA" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
        &#128470;
    </button>
</p>

<div class="collapse" id="collapseExample">
       @await Html.PartialAsync("_ReportsPartial", ViewBag.Reports as IEnumerable<Cadastro.Domain.Entities.Report>)
</div>

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #A9A9A9;
        }
    </style>
</head>
<body>
    <style>
        body {
            background-color: #00221F;
        }
    </style>
</body>
</html>

<script>
    $(document).ready(function () {
        $(".collapse.show").click();
    })
</script>

