
@{
    ViewData["Title"] = "Plano de classificação";
}

<font face = "Trebuchet MS" color="#FFFAFA"><h1>Plano de classificação</h1></font>

<p>
    <a style="color: #008AAF;" asp-action="Create">Nova classe</a>
</p>

<style type="text/css">
    table {
        background-color: #FFFAFA;
        color: #FFFAFA;
    }
</style>



@await Html.PartialAsync("_ProductsPartial")
<form method="post" asp-controller="Products" asp-action="SaveReport">
    <div class="new-report-container">
        @Html.ValidationSummary()
        <font color="#FFFAFA"><label>Título do plano:</label></font>
        <input required name="name" />
        <button class="btn" type="submit" style="background-color: #008AAF">Salvar plano</button>
    </div>
</form>



@await Html.PartialAsync("_ReportsPartial", ViewBag.Reports as IEnumerable<Cadastro.Domain.Entities.Report>)

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #A9A9A9;
        }
    </style>
</head>
<body>
    <style>
        body {
            background-color: #00221F;
        }
    </style>
</body>
</html>

<script>
    $(document).ready(function () {
        $(".collapse.show").click();
    })
</script>

