@model Cadastro.Domain.Entities.Category

@{
    ViewData["Title"] = "Details";
}

<font color="#FFFAFA"><h1>Detalhes da classe</h1></font>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #A9A9A9;
        }
    </style>
</head>
<body>
    <style>
        body {
            background-color: #A9A9A9;
        }
    </style>
</body>
</html>